In [22]:
import numpy as np

np.random.seed(77)
Q1 = np.random.randint(0,50, size = (8,6))
#print(Q1)

Q2 = Q1[2:-1, 4:]
#print(Q2)

Q3 = Q1[2:, 3:-1]
#print(Q3)

Q4 = np.reshape(Q3,(2,6))
#print(Q4)

Q5 = np.reshape(Q4,(3,4))
#print(Q5)


Q6 = np.array([("Janetta", "Lydia", 58, 58), ("Deb", "Albin", 68, 50), ("Minato", "Vanja", 78, 38), ("Maurine", "Peter", 77, 57), ("Niketas", "Justine", 70, 60)],
              dtype=[('Name', 'U20'), ('Last', 'U20'), ('Height', 'int16'), ('Age', 'int16')])

#print(Q6)